@page
@using Microsoft.Extensions.Localization
@using HQSOFT.Common.Localization
@using HQSOFT.Common.Web.Pages.Common
@model HQSOFT.Common.Web.Pages.Common.IndexModel
@inject IStringLocalizer<CommonResource> L

@{
}
<h1>Common</h1>
<p>@L["SamplePageMessage"]</p>
