@page
@using Microsoft.AspNetCore.Mvc.Localization
@using HQSOFT.Common.Localization
@using HQSOFT.Common.Web.Pages.Common.Comments
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using HQSOFT.Common.Comments;
@using System.Globalization
@inject IHtmlLocalizer<CommonResource> L
@model EditModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/Common/Comments/EditModal" autocomplete="off">
    <abp-modal id="CommentEditModal">
        <abp-modal-header title="@L["Update"].Value"></abp-modal-header>

        <abp-modal-body>
@*//<suite-custom-code-block-1>*@
@*//</suite-custom-code-block-1>*@
                    <abp-input asp-for="Id" />
                    <abp-input asp-for="Comment.ConcurrencyStamp" hidden="true" suppress-label="true"/>
                    

            <abp-input asp-for="Comment.FromUserId"   />


            <abp-input asp-for="Comment.Content"   />


            <abp-input asp-for="Comment.DocId"   />


            <abp-input asp-for="Comment.Url"   />

                    
                
@*//<suite-custom-code-block-2>*@
@*//</suite-custom-code-block-2>*@
@*//<suite-custom-code-block-3>*@
@*//</suite-custom-code-block-3>*@
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)">
@*//<suite-custom-code-block-4>*@
@*//</suite-custom-code-block-4>*@
        </abp-modal-footer>
    </abp-modal>
</form>
