
a.mention-comment {
    background: #ececec;
    text-decoration-line: revert-layer;
    border-radius: 9px;
    color: #000000;
    padding: 4px 11px;
}

h6.mud-typography.mud-typography-subtitle2 {
    font-weight: bold;
}

.mud-card-header {
    display: flex;
    /* margin: 0 30px; */
    padding: 5px 0 13px;
    align-items: center;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.mud-card-content {
    padding: 16px;
    border: 10px;
    margin: 0 30px;
    line-height: normal;
    background: #cadef130;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #d7ddfa;
}

.listbox-item-template {
    display: flex;
    border: none;
    width: 100%;
    align-items: center;
}

    .listbox-item-template > img {
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
    }

img + .listbox-item-template-text {
    margin-left: 1rem;
}

.listbox-item-template-text {
    display: flex;
    flex-flow: column;
}

.listbox-item-template-text-phone {
    opacity: 0.65;
}

.topcorner {
    position: absolute;
    top: 0;
    right: 0;
}
